<% include partials/header %>

<div class="pt-2">
    <header id="sectionhead"><a id="niche"></a>
        <div id="inner">
            <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
            <div id="sectxt">
                <h1>NICHE</h1>
            </div>
        </div>
    </header>
</div>

<% include partials/footer %>