<% include partials/header %>

<div class="niche">
    <div class="niche-banner pt-2">
        <header id="sectionhead"><a id="niche"></a>
            <div id="inner">
                <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
                <div id="sectxt">
                    <h1>NICHE</h1>
                </div>
            </div>
        </header>
    </div>

    <div class="container wrapper">
        <div class="grid-item-1">
            <figure class="imghvr-push-up">
                <img class="grid-numbers" src="../images/01.jpg">

                <figcaption id="overlay-01">
                    <p> A full service professional medium
                        size agency where each client is a
                        business partner whose business we
                        understand and whose issues we
                        appreciate.
                    </p>
                </figcaption>
            </figure>
        </div>

        <div class="grid-item-2">
            <img class="grid-lemons-2" src="../images/dull-lemon.jpg">
        </div>

        <div class="grid-item-3-transparent-1"></div>

        <div class="grid-item-4">
            <img class="grid-lemons-4" src="../images/dull-lemon.jpg">
        </div>

        <div class="grid-item-5-transparent-2"></div>

        <div class="grid-item-6">
            <figure class="imghvr-push-up">
                <img class="grid-numbers" src="../images/02.jpg">

                <figcaption id="overlay-02">
                    <p> Both within and outside the agency
                        the emphasis is on building lasting
                        relationships to ensure continuity and
                        consistency in our work.
                    </p>
                </figcaption>
            </figure>
        </div>

        <div class="grid-item-7">
            <img class="grid-lemons-7" src="../images/dull-lemon.jpg">
        </div>

        <div class="grid-item-8">
            <figure class="imghvr-push-up">
                <img class="grid-numbers" src="../images/03.jpg">

                <figcaption id="overlay-03">
                    <p> Resources give definite shape to our
                        work and no effort is spared in using
                        professional talent, time and technology
                        to deliver quality.
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<!-- ===================================================================== -->
<!-- WORK SECTION -->

<div class="niche">
        <div class="niche-banner pt-2">
            <header id="sectionhead"><a id="niche"></a>
                <div id="inner">
                    <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
                    <div id="sectxt">
                        <h1>WORK</h1>
                    </div>
                </div>
            </header>
        </div>
    





<% include partials/footer %>