<% include partials/header %>

<div class="niche">
    <div class="niche-banner pt-2">
        <header id="sectionhead"><a id="niche"></a>
            <div id="inner">
                <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
                <div id="sectxt">
                    <h1>NICHE</h1>
                </div>
            </div>
        </header>
    </div>

    <div class="container wrapper">
        <div class="grid-item-1">
            <figure class="imghvr-push-up">
                <img class="grid-numbers" src="../images/01.jpg">

                <figcaption id="overlay-01">
                    <p> A full service professional medium
                        size agency where each client is a
                        business partner whose business we
                        understand and whose issues we
                        appreciate.
                    </p>
                </figcaption>
            </figure>
        </div>

        <div class="grid-item-2">
            <img class="grid-lemons-2" src="../images/dull-lemon.jpg">
        </div>

        <div class="grid-item-3-transparent-1"></div>

        <div class="grid-item-4">
            <img class="grid-lemons-4" src="../images/dull-lemon.jpg">
        </div>

        <div class="grid-item-5-transparent-2"></div>

        <div class="grid-item-6">
            <figure class="imghvr-push-up">
                <img class="grid-numbers" src="../images/02.jpg">

                <figcaption id="overlay-02">
                    <p> Both within and outside the agency
                        the emphasis is on building lasting
                        relationships to ensure continuity and
                        consistency in our work.
                    </p>
                </figcaption>
            </figure>
        </div>

        <div class="grid-item-7">
            <img class="grid-lemons-7" src="../images/dull-lemon.jpg">
        </div>

        <div class="grid-item-8">
            <figure class="imghvr-push-up">
                <img class="grid-numbers" src="../images/03.jpg">

                <figcaption id="overlay-03">
                    <p> Resources give definite shape to our
                        work and no effort is spared in using
                        professional talent, time and technology
                        to deliver quality.
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<!-- ===================================================================== -->
<!-- TEAM SECTION -->
<!-- ===================================================================== -->

<div class="niche-banner pt-2">
    <header id="sectionhead"><a id="niche"></a>
        <div id="inner">
            <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
            <div id="sectxt">
                <h1>TEAM</h1>
            </div>
        </div>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="teamsliderleft">
                <div id="arrowteam"> </div>
                <p>A closeknit team of professionals with varied communications experience across categories and
                    markets. </p>
                <p>A thorough unnderstanding of the trends in the regional and international markets.</p>
                <p>Acommitment to provided personalized attention to clients</p>
                </p>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/Bindu_ed.jpg">
                    <div class="overlay">
                        <h2> BINDU SRINIVASAN <span> Managing Director </span> </h2>
                    </div>
                </div>

                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/Madhu_ed.jpg">
                    <div class="overlay">
                        <h2> MADHUSHAN NAIK <span> Creative Director </span> </h2>
                    </div>
                </div>

                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/Liam_ed.jpg">
                    <div class="overlay">
                        <h2> LIAM BOOYSEN <span> Associate Creative Director </span> </h2>
                    </div>
                </div>

                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/Niv_ed.jpg">
                    <div class="overlay">
                        <h2> NIVESH RAMAWTHAR <span> Associate Creative Director </span> </h2>
                    </div>
                </div>

                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/Deepa_ed 2.jpg">
                    <div class="overlay">
                        <h2> DEEPA ACHARYA <span> Client Services Director </span> </h2>
                    </div>
                </div>

                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/Gautham_ed.jpg">
                    <div class="overlay">
                        <h2> GAUTHAM REDDY <span> Client Services Director </span> </h2>
                    </div>
                </div>

                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/Hasan_ed.jpg">
                    <div class="overlay">
                        <h2> HASAN ALI DEHLVI <span> Client Services Director </span> </h2>
                    </div>
                </div>

                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/Jitesh_ed.jpg">
                    <div class="overlay">
                        <h2> JITHESH MAKKOLATH <span> Client Services Director </span> </h2>
                    </div>
                </div>

                <div class="grid-item-t img-hover-zoom img-hover-zoom--zoom-n-pan-v hovereffect">
                    <img src="../images/sachin-gujarathi.jpg">
                    <div class="overlay">
                        <h2> SACHIN GUJARATHI <span> Production Head </span> </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- ===================================================================== -->
<!-- FACTS SECTION -->
<!-- ===================================================================== -->

<div class="skills">
    <div class="facts-banner pt-2">
        <header id="sectionhead"><a id="niche"></a>
            <div id="inner">
                <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
                <div id="sectxt">
                    <h1>FACTS</h1>
                </div>
            </div>
        </header>
    </div>

    <section id="fact-slide">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img class="d-block w-50 fact-slides" src="../images/slide-1.png" alt="First slide">
                </div>

                <div class="carousel-item">
                    <img class="d-block w-50 fact-slides" src="../images/slide-2.png" alt="Second slide">
                </div>

                <div class="carousel-item">
                    <img class="d-block w-50 fact-slides" src="../images/slide-3.png" alt="Third slide">
                </div>

                <div class="carousel-item">
                    <img class="d-block w-50 fact-slides" src="../images/slide-4.png" alt="Fourth slide">
                </div>

            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section class="fact-lemons">
        <img src="../images/fact-lemon-1.jpg" id="fact-lemon">
    </section>

    <!-- ===================================================================== -->
    <!-- SKILLS SECTION -->
    <!-- ===================================================================== -->

    <div class="skill">
        <div class="niche-banner pt-2">
            <header id="sectionhead"><a id="niche"></a>
                <div id="inner">
                    <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
                    <div id="sectxt">
                        <h1>SKILLS</h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="container wrapper">

            <div class="grid">
                <div class="grid-item grid-item--height2">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/tv.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> MAINSTREAM ADVERTISING </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Concept, <br> execution, <br>
                                        strategic media <br> planning,
                                        production <br> and execution <br>
                                        across various <br> vehicles
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/tv.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> MAINSTREAM ADVERTISING </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Concept, <br> execution, <br>
                                        strategic media <br> planning,
                                        production <br> and execution <br>
                                        across various <br> vehicles
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <img class="d-block w-100 skill-lime" src="../images/lime.jpg" alt="First slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100 skill-lime" src="../images/lime2.jpg" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/message.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> DIRECT MARKETING </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Direct Mail, Design and <br> Management <br>
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/message.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> DIRECT MARKETING </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Direct Mail, Design and <br> Management <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item grid-item--width2">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/internet.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p skill-grid-horizontal"> ONLINE, DIGITAL, AND SOCIAL MEDIA
                                        MARKETING
                                    </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Digital and Social Media Solutions to create <br>
                                        integrated, targeted and measurable communication
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/internet.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p skill-grid-horizontal"> ONLINE, DIGITAL, AND SOCIAL MEDIA
                                        MARKETING
                                    </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Digital and Social Media Solutions to create <br>
                                        integrated, targeted and measurable communication
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item grid-item--height3">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/planning.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> STRATEGIC <br> BRAND <br> PLANNING AND MANAGEMENT </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Brand Identity, Brand <br> Development & <br> Strategic Direction, <br>
                                        concept and creative <br> Development, <br> production and <br>
                                        execution across all <br> media vehicles
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/planning.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> STRATEGIC <br> BRAND <br> PLANNING AND MANAGEMENT </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Brand Identity, Brand <br> Development & <br> Strategic Direction, <br>
                                        concept and creative <br> Development, <br> production and <br>
                                        execution across all <br> media vehicles
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="grid-item grid-item--height4">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/tshirt.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> RETAIL DESIGN <br> AND FIT-OUT </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Design, Development <br> And Production for in- <br>
                                        store: retail and <br> service concepts
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/tshirt.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> MAINSTREAM ADVERTISING </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Design, Development <br> And Production for in- <br>
                                        store: retail and <br> service concepts
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <img class="d-block w-100 skill-lime" src="../images/lime3.jpg" alt="First slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100 skill-lime" src="../images/lime4.jpg" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item grid-item--width2">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/megaphone.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> EVENT MANAGEMENT </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Conceptualizing, Planning and managing customised <br>
                                        events: product launches team building workshops, <br>
                                        seminars and conferences
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="skill-grid-content">
                                    <img class="skill-icon" src="../images/megaphone.svg">
                                    <hr class="skill-hr">
                                    <p class="skill-p"> EVENT MANAGEMENT </p>
                                    <hr class="skill-hr">
                                    <p class="description">
                                        Conceptualizing, Planning and managing customised <br>
                                        events: product launches team building workshops, <br>
                                        seminars and conferences
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- ===================================================================== -->
    <!-- CLIENTS SECTION -->
    <!-- ===================================================================== -->


    <div class="clients">
        <div class="niche-banner pt-2">
            <header id="sectionhead"><a id="niche"></a>
                <div id="inner">
                    <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
                    <div id="sectxt">
                        <h1>CLIENTS</h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="container c-wrapper">

            <div class="grid clients-grid-container">
                <ul id="da-thumbs" class="da-thumbs">

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/geant-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Part of the Retail Arabia Group; we handle in-store design, development,
                                        launch and sustained marketing and communication support for their brands
                                        across the GCC.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/geant-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Part of the Retail Arabia Group; we handle in-store design, development,
                                        launch and sustained marketing and communication support for their brands
                                        across the GCC.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/gulfmart-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Part of the Retail Arabia Group; we handle in-store design, development,
                                        launch and sustained marketing and communication support for their brands
                                        across the GCC.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/baharain-mail-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Part of the Retail Arabia Group; we handle in-store design, development,
                                        launch and sustained marketing and communication support for their brands
                                        across the GCC.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/emirates-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Part of the Emirates Group; we do a wide range
                                        of specialized marketing support for their brands.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/emirates-holidays-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Part of the Emirates Group; we do a wide range
                                        of specialized marketing support for their brands.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/arabian-adventures-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Part of the Emirates Group; we do a wide range
                                        of specialized marketing support for their brands.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/ducab-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Industry-to-business marketing initiatives for UAE's
                                        leading cable manufacturer, a 2012 Super Brand company.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/OIC-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> 360 degree marketing and branding for one of the oldest
                                        and most trusted insurance companies in the Middle East.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/redtag-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Over 100 stores across UAE, KSA, Kuwait, Bahrain, Oman, Qatar, Jordan and Yemen,
                                        we handle through-the-line solutions for their value fashion and home retail
                                        stores across the Middle East.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/standard-chartered-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Development of niche marketing programmes, corporate events,
                                        product launches and BTL support for the UAE.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/twenty4-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Brand initiation and sustained 360 degree marketing solutions
                                        for the newest and trendiest value fashion outlet in the GCC region.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/dp-world-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Corporate communication projects for one
                                        of the worlds largest marine terminal operators.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>

                    <li>
                        <div class="grid-item-c">
                            <figure class="imghvr-fade">
                                <img class="grid-item-img" src="../images/dulux-hover.jpg">

                                <figcaption id="overlay-c1">
                                    <p> Packaging and branding solutions for one of
                                        the world’s largest paint companies.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </li>






                </ul>
            </div>


        </div>
    </div>

    <!-- ===================================================================== -->
    <!-- WORK SECTION -->
    <!-- ===================================================================== -->

    <div class="skill">
        <div class="niche-banner pt-2">
            <header id="sectionhead"><a id="niche"></a>
                <div id="inner">
                    <div id="secorange"><img src="../images/lemon.png" width="140" height="90" alt=""></div>
                    <div id="sectxt">
                        <h1>WORK</h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="container wrapper">

            <div class="grid-w">
                <div class="grid-item-w" data-toggle="modal" data-target="#firstModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-190_1.jpg" alt="">
                        <div class="overlay">
                            <h2> Manhattan Tactical Campaign </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade bd-example-modal-lg" id="firstModal" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="row">

                                <div class="col-md-7">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="../images/work_02.jpg" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="../images/work_02.jpg" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="../images/work_02.jpg" class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-5">

                                    <div class="modal-header mr-5 work-modal-header">
                                        Standard Chartered Bank: A mix of marketing initiatives for UAE's leading bank
                                    </div>

                                    <div class="modal-body mr-3 work-modal-body">
                                        <p> Handled the launch for Manhattan Credit Cards in the UAE through a high
                                            impact event and innovative BTL communication
                                        </p>

                                        <p>
                                            In 2009, Standard Chartered Bank designed a package of new initiatives for
                                            its Priority Banking customers. World-wide launches were held to communicate
                                            these new initiatives to their Priority Banking customers
                                        </p>

                                        <p>
                                            Orangerie was given the task of conceptualising and organising these gala
                                            evenings for their high net worth customers in the UAE. Two evenings one at
                                            the Raffles Hotel in Dubai and one at the Emirates Palace were held
                                        </p>
                                    </div>

                                    <div class="modal-footer work-modal-footer">
                                        Manhattan Tactical Campaign
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w" data-toggle="modal" data-target="#secondModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-190_2.jpg" alt="">
                        <div class="overlay">
                            <h2> Manhattan Priority Gala Evening </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="secondModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Second Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w" data-toggle="modal" data-target="#thirdModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-190_3.jpg" alt="">
                        <div class="overlay">
                            <h2> Axa Insurance Merger Campaign </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="thirdModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Third Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--width2-w grid-item--height2-w" data-toggle="modal"
                    data-target="#fourthModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-366_1.jpg" alt="">
                        <div class="overlay">
                            <h2> Geant Dubai <br> Print Pre-Launch <br> Campaign </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="fourthModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Fourth Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--width2-w grid-item--height2-w" data-toggle="modal"
                    data-target="#fifthModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-366_2.jpg" alt="">
                        <div class="overlay">
                            <h2> Arabian <br> Adventures <br> Digital <br> Campaign </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="fifthModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Fifth Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--width3-w grid-item--height3-w divider" data-toggle="modal"
                    data-target="#sixthModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-181_1.jpg" alt="">
                        <div class="overlay">
                            <h2> Axa Insurance Merger Campaign </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="sixthModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Sixth Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w" data-toggle="modal" data-target="#seventhModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-190_4.jpg" alt="">
                        <div class="overlay">
                            <h2> Emirates Holidays Brochures </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="seventhModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Seventh Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--height4-w" data-toggle="modal" data-target="#eightthModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-191_1.jpg" alt="">
                        <div class="overlay">
                            <h2> Arabian Adventures: Print Campaign </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="eightthModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Eightth Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--width4-w grid-item--height5-w" data-toggle="modal"
                    data-target="#ninthModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-375_1.jpg" alt="">
                        <div class="overlay">
                            <h2> Gulfmart <br> New In-Store <br> Look </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="ninthModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Ninth Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--width4-w grid-item--height6-w" data-toggle="modal"
                    data-target="#tenthModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work-371_1.jpg" alt="">
                        <div class="overlay">
                            <h2> Redtag <br> Spring Campaign <br> 2013 </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="tenthModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Tenth Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--width4-w grid-item--height6-w" data-toggle="modal"
                    data-target="#eleventhModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work_t4.jpg" alt="">
                        <div class="overlay">
                            <h2> Twenty4 <br> Winter 2013,2014 <br> & Ramadan 2013 </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="eleventhModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Eleventh Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--width4-w grid-item--height5-w" data-toggle="modal"
                    data-target="#twelfthModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work_dulux.jpg" alt="">
                        <div class="overlay">
                            <h2> Dulux </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="twelfthModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Twelfth Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item-w grid-item--width3-w grid-item--height3-w" data-toggle="modal"
                    data-target="#thirteenthModal">
                    <div class="hovereffect-w">
                        <img class="img-responsive" src="../images/work_oic.jpg" alt="">
                        <div class="overlay">
                            <h2> Oman Insurance Company </h2>
                            <button type="button" class="btn btn-warning"> Details </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="thirteenthModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Thirteenth Modal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <% include partials/footer %>