body {
    background: #ffffff;
    overflow-x: hidden;
    background-image: url("../images/lemons.jpg");
    background-size: auto;
}

#sectionhead {
    height: 64px;
    text-align: center;
    background-color: #ababab;
    z-index: 250;
    position: relative;
    margin-bottom: 5px;
}

#inner, .inner {
    width: 1000px;
    height: auto;
    position: relative;
    float: none;
    margin: 0 auto;
}

#secorange, .secorange {
    position: absolute;
    top: -20px;
    left: -80px;
}

#sectxt, .sectxt {
    /* position: relative; */
    text-align: left;
    color: #ffffff;
    font-family: 'Anton';
    font-size: 19px;
    padding: 8px 0 0 66px;
}

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-numbers {
  width: 246px;
  height: 246px;
}

#overlay-01 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

#overlay-02 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

#overlay-03 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.grid-item-1 {
  float: left;
  width: 246px;
  height: 246px;
}

.grid-item-2 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-3-transparent-1 {
  float: left;
  width: 246px;
  height: 246px;
  background: rgba(0,0,0,0.1);
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-4 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-5-transparent-2 {
  float: left;
  width: 246px;
  height: 246px;
  background: rgba(0,0,0,0.1);
  border-top: 2px solid rgba(255,255,255,1);
}

.grid-item-6 {
  float: left;
  width: 246px;
  height: 246px;
  border-top: 2px solid rgba(255,255,255,1);
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-7 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
  border-top: 2px solid rgba(255,255,255,1);
}

.grid-item-8 {
  float: left;
  width: 246px;
  height: 246px;
  border-left: 2px solid rgba(255,255,255,1);
  border-top: 2px solid rgba(255,255,255,1);
}

.grid-lemons-2 {
  height: 246px;
  width: 246px;
}

.grid-lemons-4 {
  height: 246px;
  width: 246px;
}

.grid-lemons-7 {
  height: 246px;
  width: 246px;
}

.niche-banner {
  margin-bottom: 20px;
}

.grid-item-w1 {
  float: left;
  width: 190px;
  height: 190px;
}

#overlay-w1 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.wrapper {
  margin-bottom: 20px;
  height: 650px;
}



/* ================================================================= */
/* TEAM SECTION CODE */
/* ================================================================= */

.t1
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height:12rem;
    }
    .t1:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;

    }
    .t2
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height: 12rem;
    }
    .t2:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;
    }
    .t3
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height: 12rem;
    }
    .t3:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;
    }
    .t4
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height: 12rem;
    }
    .t4:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;
    }
    .t5
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height: 12rem;
    }
    .t5:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;
    }
    .t6
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height: 50rem;
    }
    .t6:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;
    }
    .t7
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height: 50rem;
    }
    .t7:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;
    }
    .t8
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height: 50rem;
    }
    .t8:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;
    }
    .t9
    {
        background:url("../images/Bindu_ed.jpg")no-repeat;
        width: 100%;
        height: 50rem;
    }
    .t9:hover{
        background:url("../images/Hasan_ed.jpg")no-repeat;
    }
   


    #teamsliderleft p {
    font: 9pt "Lucida Grande",Arial,sans-serif;
}
#arrowteam {
    border-bottom: 25px solid transparent;
    border-left: 25px solid #4F4F4F;
    border-top: 25px solid transparent;
    height: 0;
    right: -1.5rem;
    position: absolute;
    top: 3rem;
    width: 0;
    z-index: 12;
    margin-right:5 rem;
}

    #teamsliderleft {
    background-color: #D26303;
    float: left;
    padding: 1.5rem 1rem;
    margin-top: 1 rem;;
    position: relative;
    width: 150px;
    color: #FFFFFF;
   
}

/* ================================================================= */
/* CLIENT SECTION CODE */
/* ================================================================= */

body {
  font: 9pt "Lucida Grande",Arial,sans-serif;
  overflow-x: hidden;
  margin: 0%;
}

header{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

div{
  display: block;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0%;
}  

section{
  display: block;
  padding: 0;
  border: 0;
}

article{
  display: block;
}



.inner {
  width: 1000px;
  height: auto;
  position: relative;
  float: none;
  margin: 0 auto;
}

.clearfix {
  zoom: 1;
}

.sectxt {
  /* position: relative; */
  text-align: left;
  color: #ffffff;
  font-family: 'Marvel';
  font-size: 19px;
  padding: 8px 0 0 66px;
}

.frme {
  position: relative;
  width: 192px;
  height: 146px;
  overflow: hidden;
  background: url("../images/geant.jpg")no-repeat;
}

.frme:hover {
  background: url("../images/geant-hover.jpg")no-repeat;
}



.desc {
  background: #16385b;
  height: 106px;
  padding: 19px;
  color: #ffffff;
  margin-top: 0;
  line-height: 14px;
  display: none;
}


#outer-clients {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#sectionhead6{
  height: 64px;
  text-align: center;
  background-color: #ababab;
  /* position: relative; */
  z-index: 250;
  margin-bottom: 1px;
}

.clint-element {
  box-sizing: border-box;
}

#articles-clnt {
  padding: 33px 4px 4px;
  background: #ce7324;
  height:146px; 
}

#articles-clnt article {
  width: 192px;
  height: 146px;
  float: left;
  margin: 4px;
  overflow: hidden;
}

#articles-clnt article:hover .desc { 
  margin-top:0;
  display: block;
}

#articles-clnt article:hover{
  height:292px;
}

#clients {
  max-width: 808px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  min-height: 835px;
  padding-left: 156px;
}



@media screen and (max-width: 1280px){

}

@media screen and (max-width: 980px) {
  #clients {max-width: 824px; padding-left: 0;}

}

@media screen and ( max-width: 800px ){
  #clients {max-width: 609px;padding-left: 0px;}
}

@media screen and ( max-width: 768px ){
  #clients {max-width: 609px;padding-left: 0px;}
}

@media screen and (max-width: 320px) {
  #clients {max-width:208px; margin:0 auto;}
}




