body {
    background: #ffffff;
    overflow-x: hidden;
    background-image: url("../images/lemons.jpg");
    background-size: auto;
}

#sectionhead {
    height: 64px;
    text-align: center;
    background-color: #ababab;
    z-index: 250;
    position: relative;
    margin-bottom: 5px;
}

#inner, .inner {
    width: 1000px;
    height: auto;
    position: relative;
    float: none;
    margin: 0 auto;
}

#secorange, .secorange {
    position: absolute;
    top: -20px;
    left: -80px;
}

#sectxt, .sectxt {
    /* position: relative; */
    text-align: left;
    color: #ffffff;
    font-family: 'Anton';
    font-size: 19px;
    padding: 8px 0 0 66px;
}

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-numbers {
  width: 246px;
  height: 246px;
}

#overlay-01 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

#overlay-02 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

#overlay-03 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.grid-item-1 {
  float: left;
  width: 246px;
  height: 246px;
  /* background: #FFDC60; */
  /* border-bottom: 2px solid rgba(255,255,255,1); */
  /* font-family: 'Anton';
  font-size: 10rem;
  padding: 5px 50px;
  color: white; */
}

/* .grid-item-1-onhover {
  float: left;
  width: 246px;
  height: 246px;
  background: #FCE17E;
  border-bottom: 2px solid rgba(255,255,255,1);
  font-family: 'Anton';
  font-size: 1rem;
  padding: 5px 50px;
  color: white;
  display: none;
} */

.grid-item-2 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-3-transparent-1 {
  float: left;
  width: 246px;
  height: 246px;
  background: rgba(0,0,0,0.1);
  border-left: 2px solid rgba(255,255,255,1);
  border-bottom: 2px solid rgba(255,255,255,1);
}

.grid-item-4 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-5-transparent-2 {
  float: left;
  width: 246px;
  height: 246px;
  background: rgba(0,0,0,0.1);
  border-top: 2px solid rgba(255,255,255,1);
}

.grid-item-6 {
  float: left;
  /* width: 246px;
  height: 246px;
  background: #FFDC60; */
  border-top: 2px solid rgba(255,255,255,1);
  border-left: 2px solid rgba(255,255,255,1);
  /* font-family: 'Anton';
  font-size: 10rem;
  padding: 5px 50px;
  color: white; */
}

.grid-item-7 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-8 {
  float: left;
  /* width: 246px;
  height: 246px;
  background: #FFDC60; */
  border-left: 2px solid rgba(255,255,255,1);
  border-top: 2px solid rgba(255,255,255,1);
  /* font-family: 'Anton';
  font-size: 10rem;
  padding: 5px 50px;
  color: white; */
}

.grid-lemons-2 {
  height: 246px;
  width: 246px;
}

.grid-lemons-4 {
  height: 246px;
  width: 246px;
}

.grid-lemons-7 {
  height: 246px;
  width: 246px;
}