body {
    background: #ffffff;
    overflow-x: hidden;
    /* background-image: url("../images/lemons.jpg"); */
    background-size: auto;
}

/* ======================================== */
/* BANNER CODE */
/* ======================================== */

#sectionhead {
    height: 64px;
    text-align: center;
    background-color: #ababab;
    z-index: 250;
    position: relative;
    margin-bottom: 5px;
}

#inner, .inner {
    width: 1000px;
    height: auto;
    position: relative;
    float: none;
    margin: 0 auto;
}

#secorange, .secorange {
    position: absolute;
    top: -20px;
    left: -80px;
}

#sectxt, .sectxt {
    /* position: relative; */
    text-align: left;
    color: #ffffff;
    font-family: 'Anton';
    font-size: 19px;
    padding: 8px 0 0 66px;
}

/* ========================================= */
/* HOME SECTION CODE */
/* ========================================= */

#home-background {
  /* height: 1245px; */
  width: 1550px;
}

/* ========================================= */
/* NICHE SECTION CODE */
/* ========================================= */

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-numbers {
  width: 246px;
  height: 246px;
}

#overlay-01 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

#overlay-02 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

#overlay-03 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.grid-item-1 {
  float: left;
  width: 246px;
  height: 246px;
}

.grid-item-2 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-3-transparent-1 {
  float: left;
  width: 246px;
  height: 246px;
  background: rgba(0,0,0,0.1);
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-4 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-5-transparent-2 {
  float: left;
  width: 246px;
  height: 246px;
  background: rgba(0,0,0,0.1);
  border-top: 2px solid rgba(255,255,255,1);
}

.grid-item-6 {
  float: left;
  width: 246px;
  height: 246px;
  border-top: 2px solid rgba(255,255,255,1);
  border-left: 2px solid rgba(255,255,255,1);
}

.grid-item-7 {
  float: left;
  width: 246px;
  height: 246px;
  background: #FFDC60;
  border-left: 2px solid rgba(255,255,255,1);
  border-top: 2px solid rgba(255,255,255,1);
}

.grid-item-8 {
  float: left;
  width: 246px;
  height: 246px;
  border-left: 2px solid rgba(255,255,255,1);
  border-top: 2px solid rgba(255,255,255,1);
}

.grid-lemons-2 {
  height: 246px;
  width: 246px;
}

.grid-lemons-4 {
  height: 246px;
  width: 246px;
}

.grid-lemons-7 {
  height: 246px;
  width: 246px;
}

.niche-banner {
  margin-bottom: 20px;
}

.grid-item-w1 {
  float: left;
  width: 190px;
  height: 190px;
}

#overlay-w1 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.wrapper {
  margin-bottom: 20px;
  height: 650px;
}

.niche-scroll {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}

.niche-scroll.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.niche {
  opacity: 0;
  transition: all 1s ease-in-out;
  height: 1298px;
  transform: translateY(200px);
}

.niche-background { 
  opacity: 1;
  transform: translateY(0);
  background-image: url("../images/lemons.jpg");
}

/* ================================================================= */
/* TEAM SECTION CODE */
/* ================================================================= */

#teamsliderleft p {
  font: 9pt "Lucida Grande",Arial,sans-serif;
}

#arrowteam {
    border-bottom: 25px solid transparent;
    border-left: 25px solid #4F4F4F;
    border-top: 25px solid transparent;
    height: 0;
    right: -1.5rem;
    position: absolute;
    top: 3rem;
    width: 0;
    z-index: 12;
    margin-right:5 rem;
}

#teamsliderleft {
  background-color: #FFDC60;
  float: left;
  padding: 1.5rem 1rem;
  margin-top: 1 rem;;
  position: relative;
  width: 200px;
  color: #FFFFFF;    
}

.grid-item-t {
  float: left;
  width: 145px;
  height: 193px;
  background: #FFDC60;
  margin: 4px;
}

.hovereffect {
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;  
  height: 4.75em;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  visibility: hidden;
}

.hovereffect h2 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 14px;
  padding: 3px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0px;
  display: inline-block;
  width: 145px;
}

.hovereffect h2 {
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: translate3d(0,200%,0);
transform: translate3d(0,200%,0);
visibility: visible;
}

.hovereffect:hover .overlay,
.hovereffect:hover h2 {
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
-webkit-transition-delay: 0.05s;
transition-delay: 0.05s;
}

/* [1] The container */
.img-hover-zoom {
  height: 193px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}


/* Vertical Zoom-n-pan Container */
.img-hover-zoom--zoom-n-pan-v img {
  transition: transform .5s ease-in-out;
  transform: scale(1.4);
  transform-origin: 0 0;
}

/* The Transformation */
.img-hover-zoom--zoom-n-pan-v:hover img {
  transform: scale(1);
}

/* https://w3bits.com/css-image-hover-zoom/ */

.team {
  opacity: 0;
  transition: all 1s ease-in-out;
  height: 1200px;
  transform: translateY(20px);
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
   -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
       transform: translateX(-40px);
-webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
   -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
       transition: all 0.6s ease-out;
}


.team.team-background { 
  opacity: 1;
  transform: translateY(0);
  background-image: url("../images/lemon-team-2.png"), url("../images/lemon-team-1.png");
  background-position: right top, left;
  background-repeat: no-repeat;
  background-size: auto auto;
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}



/* ================================================================= */
/* FACTS SECTION CODE */
/* ================================================================= */

#fact-slide {
    background-color: #FFDC60;
    height: 406px;

}

.carousel-inner > .carousel-item > img {
  margin: 0 auto;
}

.carousel-control-prev-icon {
  height: 100px;
  width: 100px;
  background-image: "../images/sld-prv-active.png";
}

.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: "../images/sld-nxt-active.png";
}

.fact-lemons {
  height: 400px;
  margin-top: 20px;
}

#fact-lemon1 {
  top: -30px;
  left: -1400px;
  width: 400px;
  position: relative;
}

#fact-lemon2 {
  top: 30px;
  position: relative;
  left: -1300px;
  width: 300px;
}

#fact-lemon4 {
  top: -100px;
  left: -1100px;
  width: 400px;
  position: relative;
}

#fact-lemon7 {
  top: 150px;
  left: -1100px;
  width: 400px;
  position: relative;
  width: 200px;
  transform: rotate(20deg);
}

#fact-lemon5 {
  width: 200px;
  top: 150px;
  left: -1000px;
  position: relative;
}

#fact-lemon5 {
  width: 200px;
  top: 150px;
  left: -1000px;
  position: relative;
}

#fact-lemon6 {
  top: -200px;
  width: 200px;
  left: -1000px;
  position: relative;
}

#fact-lemon8 {
  top: -200px;
  width: 200px;
  left: -800px;
  position: relative;
}

#fact-lemon9 {
  top: -425px;
  width: 400px;
  left: 100px;
  position: relative;
}

.fact-lemon-imgs {
  left: 1200px;
  position: relative;
}

/* ================================================================= */
/* SKILLS SECTION CODE */
/* ================================================================= */


* { box-sizing: border-box; }

/* ---- grid ---- */

.grid {
  margin-left: 75px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .grid-item ---- */


.grid-item {
  float: left;
  width: 235px;
  height: 235px;
  background: #FFDC60;
  border: 2px solid white;
}

.grid-item--width2 { width: 470px; }
.grid-item--height2 { height: 400px; }
.grid-item--height3 { height: 470px; }
.grid-item--height4 { height: 305px; }

.wrapper {
  margin-bottom: 200px;
}

.skill-grid-content {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Marvel', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-grid-content-horizontal {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Marvel', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.skill-icon {
width: 50px;
margin: 0 auto;
display: flex;
justify-content: center;
margin-top: 20px;
}

.skill-hr {
  height:1px;
  width: 100px;
  color:#FFFFFF; 
  background-color:#FFFFFF;
}

.skill-p {
  font-size: 2rem;
  line-height: 30px;
  text-align: center;
  margin-bottom: 0;
}

.description {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.skill-lime {
  width: 235px;
  height: 235px;
}

.skill-grid-horizontal {
  font-size: 1.5rem;
}

.skill {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateX(20px);
  -webkit-transform: translateY(-140px);
  -moz-transform: translateY(-140px);
   -ms-transform: translateY(-140px);
    -o-transform: translateY(-140px);
       transform: translateY(-140px);
-webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
   -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
       transition: all 0.6s ease-out;
}

.skill-background {
  opacity: 1;
  transform: translateX(160px);
  transform: translateY(160px);
  background-image: url("../images/lemon-skill-1.png"), url("../images/lemon-skill-1.png");
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: auto auto;
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.skill-grids {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateX(200px);
  -webkit-transform: translateY(240px);
  -moz-transform: translateY(240px);
   -ms-transform: translateY(240px);
    -o-transform: translateY(240px);
       transform: translateY(240px);
-webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
   -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
       transition: all 0.6s ease-out;
}

.skill-grid {
  opacity: 1;
  transform: translateX(160px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.skill-grids-h {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateY(200px);
  -webkit-transform: translateY(240px);
  -moz-transform: translateX(240px);
   -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
       transform: translateX(240px);
-webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
   -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
       transition: all 0.6s ease-out;
}

.skill-grid-h {
  opacity: 1;
  transform: translateY(160px);
  transform: translateX(0px);
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}


/* ================================================================= */
/* CLIENTS SECTION CODE */
/* ================================================================= */

.clients-grid-container {
  background: #FFDC60;
  max-width: 1000px;
}

.grid-item-c {
  float: left;
  width: 192px;
  height: 146px;
  background: #FFDC60;
  margin: 4px;
  border: 1px solid white;
}

.grid-item-c:hover {
  transform: scale(1.1);
}

.grid-item-img {
  width: 192px;
  height: 146px;
}

#overlay-c1 { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
}

.c-wrapper {
  height: 650px;
  margin-left: 200px;
  margin-bottom: 200px;
}

.clients {
  margin-bottom: 200px;
}

.da-thumbs li {
	float: left;
	margin: 5px;
	background: #fff;
	padding: 2px;
	position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  list-style: none;
}

.client-img {
  height: 150px;
  border: 1px solid white;
}

#client-details { 
  background-color: #FCE17E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.clients {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateX(-200px);
  -webkit-transform: translateY(-140px);
  -moz-transform: translateY(-140px);
   -ms-transform: translateY(-140px);
    -o-transform: translateY(-140px);
       transform: translateY(-140px);
-webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
       transition: all 1s ease-out;
}

.client-background {
  opacity: 1;
  transform: translateX(200px);
  transform: translateY(160px);
  background-image: url("../images/lemon-fact-6.png"), url("../images/lemon-skill-2.png"), url("../images/lemon-fact-1.png");
  background-position: right top, left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: auto auto;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.client-grids {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateX(200px);
  -webkit-transform: translateY(240px);
  -moz-transform: translateY(240px);
   -ms-transform: translateY(240px);
    -o-transform: translateY(240px);
       transform: translateY(240px);
-webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
   -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
       transition: all 0.6s ease-out;
}

.client-grid {
  opacity: 1;
  transform: translateX(160px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

/* ================================================================= */
/* WORK SECTION CODE */
/* ================================================================= */

* { box-sizing: border-box; }

/* ---- grid ---- */

.grid-w {
  max-width: 1000px;
  vertical-align: middle;
}

/* clear fix */
.grid-w:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item-w {
  float: left;
  width: 190px;
  height: 185px;
  background: #FCE17E;
  margin: 4px;
}

.grid-item--width2-w { width: 366px; }
.grid-item--width3-w { width: 181px; }
.grid-item--width4-w { width: 375px; }

.grid-item--height2-w { height: 370px; }
.grid-item--height3-w { height: 383px; }
.grid-item--height4-w { height: 453px; }
.grid-item--height5-w { height: 254px; }
.grid-item--height6-w { height: 276px; }

.grid-item--width10-w { width: 1000px; }
.grid-item--height10-w { height: 600px; }

.hovereffect-w {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect-w .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
  vertical-align: middle;
}

.hovereffect-w:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect-w img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect-w:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.btn-warning {
  width: 100px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Raleway';
}

.hovereffect-w h2 {
  margin: 0px;
  padding: 0px;
  font-family: 'Anton', sans-serif;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  font-size: 24px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect-w:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.work-modal-body {
  font-size: 10px;
  font-family: 'Raleway';
}

.work-modal-header {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Anton';
  color: black;
}

.work-modal-footer {
  font-size: 12px;
  margin-right: 20px;
  font-family: 'Raleway';
}

.work {
  margin-bottom: 700px;
}

.work {
  opacity: 0;
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}

.work-background {
  background-image: url("../images/lemon-team7.jpg"), url("../images/lemon-team-1.png");
  background-position: right bottom, 0% 100%;
  background-repeat: no-repeat;
  background-size: 600px;
	opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
}


/* ================================================================= */
/* CONTACT SECTION CODE */
/* ================================================================= */

#address {
  width: 490px;
  height: 890px;
  background-color: #FFDC60;
  margin: 0;
  margin-left: 75px;
}

#form {
  width: 490px;
  height: 890px;
  background-color: #FCE17E;
  margin: 0;
}

.col-md-6 {
  padding: 2px;
}

.address {
  padding: 70px 90px 20px 60px;
}

section div h2 {
  font-family: 'Anton';
  text-transform: uppercase;
  color: white;
}

section div p, section a {
  font-family: 'Raleway';
  line-height: 20px;
  color: white;
  margin: 20px 0;
}

section div label {
  font-family: 'Anton';
  text-transform: uppercase;
  line-height: 20px;
  color: white;
  margin: 20px 0;
  font-size: 20px;
}

.contact {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}

.contact-background {
  background-image: url("../images/lemon-team-2.png"), url("../images/lemon-team-1.png");
  background-position: right, 0% 100%;
  background-repeat: no-repeat;
  background-size: 350px;
	opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
}

/* FOOTER SECTION */

.footer {
  margin-top: 50px;
  height: 400px;
  background-image: url("../images/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
}

#footer2 {
  height: 200px;
  background: #FFD173;
}

#copyright {
  margin-top: 170px;
  margin-left: 525px;
  font-family: 'Raleway';
  font-size: 12px;
}